{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load humanize %}

{% block head_title %}会計期間情報 編集{% endblock %}

{% block content %}
<div class="container-fluid p-4 small">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <form method="POST">
        <div class="row mb-3">
          <div class="col-6">
            <h4>会計期間情報 編集</h4>
          </div>
          <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary btn-md">
              <i class="fa-solid fa-floppy-disk"></i> 保存
            </button>
            <a href="{% url 'master.accounting_period.index' %}" class="btn btn-secondary btn-md">
              <i class="fa-solid fa-ban"></i> キャンセル
            </a>
          </div>
        </div>
        {% csrf_token %}
        {% bootstrap_form form layout='floating' %}
        <div class="mb-3 form-floating">
          <input type="text" value='{{ item.created|date:"Y/m/d H:i:s" }}' class="form-control" disabled readonly>
          <label class="form-label">登録日時</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" value='{{ item.updated|date:"Y/m/d H:i:s" }}' class="form-control" disabled readonly>
          <label class="form-label">更新日時</label>
        </div>
        <button type="submit" class="btn btn-primary btn-md">
          <i class="fa-solid fa-floppy-disk"></i> 保存
        </button>
        <a href="{% url 'master.accounting_period.index' %}" class="btn btn-secondary btn-md">
          <i class="fa-solid fa-ban"></i> キャンセル
        </a>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
