{% extends 'base_not_login.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="mb-5">{% trans "Password Reset" %}</h1>
            <p class="m-3">パスワードをお忘れですか？パスワードをリセットするために、メールアドレスを入力してください。</p>
            <form method="post" class="password_reset" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='floating' %}
                {% bootstrap_button button_type="submit" content="パスワードをリセット" size="lg" button_class="w-100 btn-secondary mt-3 mb-3" %}
            </form>
            <p class="m-3">パスワードの再設定に問題がある場合はご連絡ください。</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
