{% extends 'base_not_login.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="mb-5">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            <p class="m-3">パスワードを変更する為に新しいパスワード、新しいパスワード（再入力）を入力してください。</p>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {% bootstrap_form form layout='floating' %}
                    {% bootstrap_button button_type="submit" content="パスワード変更" size="lg" button_class="w-100 btn-secondary mt-3 mb-3" %}
                </form>
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
