{% extends 'base_not_login.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="h3 mb-5 fw-normal">{% trans "Change Password" %}</h1>
            <form method="post" class="password_change" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='floating' %}
                {% bootstrap_button button_type="submit" content="パスワード変更" size="lg" button_class="w-100 btn-secondary mt-3 mb-3" %}
                <div class="m-3">
                    パスワードを忘れた方は <a class="button secondaryAction" href="{% url 'account_reset_password' %}">こちら</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
