{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block head_title %}所属情報 登録{% endblock %}

{% block content %}
<div class="container-fluid p-4 small">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <form method="POST">
        <div class="row mb-3">
          <div class="col-6">
            <h4>所属情報 新規登録</h4>
          </div>
          <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary btn-md">
              <i class="fa-solid fa-floppy-disk"></i> 登録
            </button>
            <a href="{% url 'master.affiliation.index' %}" class="btn btn-secondary btn-md">
              <i class="fa-solid fa-ban"></i> キャンセル
            </a>
          </div>
        </div>
        {% csrf_token %}
        {% bootstrap_form form layout='floating' alert_error_type='fields' %}
        <button type="submit" class="btn btn-primary btn-md">
          <i class="fa-solid fa-floppy-disk"></i> 登録
        </button>
        <a href="{% url 'master.affiliation.index' %}" class="btn btn-secondary btn-md">
          <i class="fa-solid fa-ban"></i> キャンセル
        </a>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
