{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load humanize %}

{% block head_title %}所属情報 削除{% endblock %}

{% block content %}
<div class="container-fluid p-4 small">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <h4 class="mb-3">所属情報 削除</h4>
      <div class="alert alert-danger" role="alert">
        以下のデータを削除してもよろしいですか？
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3 form-floating">
          <input type="text" value="{{ item.accounting_period }}" class="form-control" disabled readonly>
          <label class="form-label">会計期</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" value="{{ item.start_date }}" class="form-control" disabled readonly>
          <label class="form-label">開始日</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" value="{{ item.end_date }}" class="form-control" disabled readonly>
          <label class="form-label">終了日</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" value="{{ item.department }}" class="form-control" disabled readonly>
            <label class="form-label">部門</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" value="{{ item.position }}" class="form-control" disabled readonly>
            <label class="form-label">役職</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" value="{{ item.grade }}" class="form-control" disabled readonly>
            <label class="form-label">資格</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text" value="{{ item.employee }}" class="form-control" disabled readonly>
            <label class="form-label">氏名</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" value="{{ item.created }}" class="form-control" disabled readonly>
          <label class="form-label">登録日時</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" value="{{ item.updated }}" class="form-control" disabled readonly>
          <label class="form-label">更新日時</label>
        </div>
        {% bootstrap_button button_type="submit" content="はい" size="md" button_class="btn btn-danger" %}
        <a href="{% url 'master.affiliation.index' %}" class="btn btn-secondary btn-md my-3">いいえ</a>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
